<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.AtaGlance.repository.mybatis.VideoProcMapper">
    <select id="getVideoProcByNewsId" parameterType="int" resultType="com.AtaGlance.dto.VideoProc">
        SELECT
            video_id AS videoId,
            news_id AS newsId,
            objects_path AS objectsPath
        FROM VideoProc
        WHERE news_id = #{newsId};
    </select>
</mapper>